{   "tenant": "<tenantid>",
    "subscription": "<subscriptionid>",
    "deployments": [
        {
            "resourcegroup": "<resourcegroup1>",
            "workspace": "<workspace1>"
        },
        {
            "resourcegroup": "<resourcegroup2>",
            "workspace": "<workspace2>"
        }
    ]
}